@import "../components/foundation/scss/normalize";
@charset "UTF-8";
@import "../components/foundation/scss/foundation/variables";
$row-width: emCalc(1280px);

@import
  "../components/foundation/scss/foundation/components/global",
  "../components/foundation/scss/foundation/components/grid",
  "../components/foundation/scss/foundation/components/visibility",
  "../components/foundation/scss/foundation/components/block-grid",
  "../components/foundation/scss/foundation/components/type",
  "../components/foundation/scss/foundation/components/buttons",
  "../components/foundation/scss/foundation/components/forms",
  "../components/foundation/scss/foundation/components/custom-forms",
  "../components/foundation/scss/foundation/components/button-groups",
  "../components/foundation/scss/foundation/components/dropdown-buttons",
  "../components/foundation/scss/foundation/components/split-buttons";

body{
  padding-top: 1em;
}

#poller{
  display:inline;
}

#poller-select{
  display:inline;
}

.node {
  font: 10px sans-serif;
  border:1px solid #fff;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
}

.legend{
  margin: 0.2em 0;
}

.legend-color{
  height:18px;
  width:18px;
  float:left;
}

.legend-label{
  margin-left: 1.5em;
}

#es-tree-view-spinner{
  display:none;
  position:absolute;
  right: 25px;
  top:6px;
}
