<div id="controls" class="row">
    <div class="large-2 columns">
      <form id="poller" class="custom">
        <select id="poller-select">
          <option value="0">Once</option>
          <option value="5">Every 5 minutes</option>
          <option value="15">Every 15 minutes</option>
          <option value="60">Every hour</option>
        </select>
      </form>

    </div>
    <div class="large-10 columns" style="position:relative">
      {{#view UrlTextView placeholder="Elastic Search cluster URL (HTTP)"}}
      <div id="es-tree-view-spinner">
        <img src="static/spinner_16.gif"/>
      </div>
    
    </div>

    <div class="large-12 columns">
      {{view ESTreeView}}
    </div>

    {{/view}}
</div>

